<h2>Wishes you have donated to:</h2>

<p>This section will contain a list of wishes you have donated to as cards.</p>

<% donor.wishes.each do |wish| %>
    <%= render partial: 'wishes/wish', locals: {wish: wish} %><br>
    <%= link_to "More Info", animal_path(wish.animal) %><br><br>
<% end %>