<h2>Fulfilled wishes</h2>

<p>Wish card will show the picture of the animal that was uploaded by the keeper when the toy was received (wishes are not marked as fulfilled until this image is uploaded). This section of fulfilled wishes will render for all visitors, regardless of being logged in or not.</p>