<!-- 

display collection check boxes of toys
each item should have link to toy with more info

-->

<%= form_with model: @animal do |f| %>
    <label>Select toys for this animal's wishlist:</label>
    <%= render partial: 'collection_form', locals: {f: f} %><br>
    <%= f.submit "Edit Wishlist" %>
<% end %>