<h1><%= current_user.email %></h1>
<h2><%= current_user.first_name %></h2>
<h2><%= current_user.last_name %></h2>

<p>User profile page will contain a feed of active wishes and wishes that have been updated with a picture or thank you.</p>

<p>Partials to render here: donor, active wishes </p>

<p>Will also contain feed of animals that have been updated with pictures.</p>