<h1>Main show page for individual donations</h1>



<h2>Donated to: </h2><%= @donation.animal_name %>

<h3>Render the wish with a link to view it.</h3>

<p>Will show options based on user type (what options needed?)</p>

<p>Show social share links.</p>