<h1>Animal Profile Page</h1>

<%= render partial: 'animal', locals: {animal: @animal} %>
<br>
<%= link_to "Edit Animal Profile", edit_animal_path %>
<br>
<%= link_to "Return to Index", animals_path %> 
<br>


<%= button_to "Delete", @animal, method: :delete, confirm: "Are you sure?" %>