<h1>This is the landing page.</h1>

<%= link_to "Create an Account", new_user_registration_path %>

<%= link_to "Sign In", new_user_session_path %> 

<p>Landing page will contain wish items with donation options for each</p>